#header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 5vh;
    background-color: var(--secondary-color);
    align-items: center;
    padding: 1em;
    color: var(--accent-text);
    user-select: none;
}

#quiz-head{
    display: flex;
    width: 100%;
    padding: 1em;
    gap: 1em;
    flex-direction: column;
    padding-bottom: 0;
}
#head-btns{
    display: flex;
    gap:2em;
    padding:1em;
    padding-bottom: 0;
    justify-content: center;
}
#save-quiz,#add-question {
    border: none;
        background-color: var(--secondary-color);
        color: white;
        width: 30vw;
        max-width: 15rem;
        min-width: fit-content;
        padding: 0.5em;
        border-radius: 2em;
        font-weight: 600;
        cursor: pointer;
}
#save-quiz:hover,
#add-question:hover{
    filter: contrast(1.5);
}

#main-cont {
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    width:100%;
}
#edit-wrap{
    padding-top: 1.5rem;
    max-width: 80%;
    min-width: 40%;
}

#questions-list {
    display: flex;
    flex-direction: column;
    padding: 1em;
    box-sizing: border-box;
    gap: 1.5rem;
}

.question-wrap {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.question-txt {
    width: 100%;
    max-height: none;
    resize: none;
}
.question-options {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
}

.option{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.option span{
    display: inline-block;
    max-width: 100%;
    overflow-wrap: break-word;
    overflow-y: auto;
    word-break: break-word;
    padding: 0.5rem;
    border-bottom: solid 1px var(--secondary-color);
}

input, textarea{
    border: none;
    border-bottom:1px solid var(--secondary-color);
    
}
input:focus, textarea:focus, .option span:focus{
    outline: none;
    background-color: var(--main-color);
}

input[type="checkbox"]{
    cursor: pointer;
    flex: 0 0 auto;
    width: 16px;
    height: 16px;
}
input[type="checkbox"]:checked{
    accent-color: var(--secondary-highlight);
    color:aliceblue;
}

#back-btn{
    width: 20vw;
    border: none;
    background-color: var(--main-color);
    padding: 0.5em;
    border-radius: 2em;
    font-weight: 600;
    color: var(--accent-text);
    cursor: pointer;
    max-width: 10rem;
}
#back-btn:hover{
    filter: contrast(1.5);
}

.delete-question{
    border:none;
    background-color: var(--secondary-color);
    color: white;
    width: 20vw;
    max-width: 10rem;
    min-width: fit-content;
    padding: 0.5em;
    border-radius: 2em;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    left:80%;
}
.delete-question:hover{
    filter: contrast(1.5);
}
