    *{
        width:100%;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Segoe UI',
        Tahoma,
        Geneva,
        Verdana,
        sans-serif;
    }

    :root {
        /* colors */
        --main-color: #e6e1d2;
        --main-highlight: #f1f0ec;
        --main-shadow: #c7b89c;
        --secondary-color: #26978e;
        --secondary-highlight: #3db198;
        --secondary-shadow: #1c7279;
        --accent-color: #e2b605;
        --accent-highlight: #ebca12;
        --accent-shadow: #d39c05;
        --dark-text: #0f0f0f;
        --light-text: #eef5f4;
        --accent-text: #054e48;

        /* sizes */
        --button-txt: 1rem;
    }