    *{
        width:100%;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Segoe UI',
        Tahoma,
        Geneva,
        Verdana,
        sans-serif;
    }

    :root {
        /* colors */
        --main-color: #2a9191;
        --secondary-color: #0e5050;
        --accent-color: #e7e7e6;
        --accent-text: #ebc107;
        --dark-text: #33322b;

        /* sizes */
        --button-txt: 1rem;
    }