#header{
    height:8vh;

    position: sticky;
    top: 0;

    background-color: var(--accent-color);
    
    box-shadow: 0 0 0.5em 0.5em var(--main-shadow);
}

#main-cont{
    height:92vh;
    
    background-color: var(--secondary-color);
}

#hero{
    height: 40vh;
    
    padding: 4em;
    
    display: flex;
    justify-content: center;
    
    background-color: var(--main-color);
    box-shadow: 0 0 0.5em 0.5em var(--secondary-shadow);
}

#register-btns{
    display: flex;
    justify-content: center;
    align-items: end;
}

.main-btn{
    min-width:8em;
    max-width: 12vw;

    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 0.5em;
    
    display: flex;
    justify-content: center;
    
    font-size: var(--button-txt);
    font-weight:600;
    background-color: var(--accent-color);
    box-shadow: 0.5em 0.5em 0.5em var(--main-shadow);
    color: var(--dark-text);
    cursor: pointer;
}
.main-btn:hover{
    background-color: var(--accent-highlight);
}