#header{
    height:8vh;
    background-color: var(--secondary-color);
}

#main-cont{
    height:92vh;
    background-color: var(--accent-color);
}

#hero{
    height: 40vh;
    display: flex;
    justify-content: center;
    padding: 4em;
    background-color: var(--main-color);
}

#register-btns{
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 1em;
}

.main-btn{
    min-width:8em;
    max-width: 12vw;
    padding: 0.5rem 1.5rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border: none;
    background-color: var(--accent-color);
    color: var(--accent-text);
    font-size: var(--button-txt);
    font-weight:600;
    border-radius: 0.5em;
}
.main-btn:hover{
    filter: contrast(1.5);
}