#main-cont {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--secondary-color);
}

#sign-up-wrapper{
    width: 50vh;
    height: 40vh;

    padding: 2em;
    border-radius: 2em;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: var(--main-color);
    box-shadow: 0 0 0.5em var(--secondary-shadow);
}

#sign-up{
    height: 80%;
    display: flex;

    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#form-input-wrap{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.form-input{
    padding: 0.5em;
    border:none;
    border-radius: 0.5em;

    background-color: var(--main-highlight);
    color: var(--dark-text);
}
.form-input:focus{
    border:none;
    outline: none;
}

#submit-btn{
    width: 40%;

    padding: 0.5em;
    border: none;
    border-radius: 0.5em;
    
    background-color: var(--secondary-color);
    box-shadow: 0.2em 0.2em 0.5em var(--main-shadow);
    color: var(--light-text);
    cursor: pointer;
}
#submit-btn:hover{
    background-color: var(--secondary-highlight);
}

#form-link-wrap{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 0.5em;
}

.form-link{
    width:fit-content;

    font-size:smaller;
    color: var(--secondary-text);
    text-decoration: underline;
    
    cursor: pointer;
    user-select: none;
}

#title{
    height: 15%;
    
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1em;

    color: var(--dark-text);
}

#title p {
    font-weight: 300;
}

#role-wrap{
    width: 100%;
    
    display: flex;
    justify-content: center;
}

.role-group{
    width:25%;
    
    display: flex;
    gap:1em;

    color: var(--dark-text);
}
.role-group input{
    accent-color: var(--secondary-color);

    cursor: pointer;
}
.role-group label{
    cursor: pointer;
}
